
<!DOCTYPE html>
<html>
<body>
	<div class="">
	<h2> Register to join Us </h2>
	
<?php
// header.php
include("header.php");
?>

		<form name="registerForm" method="POST" action="">
	
		<input type="hidden" name="action" value="register"/>
	        Username: <tr><input type="textfield" name="username"/><br><p>
	        Password: <tr><input type="password" name="password"/><br><p>
	        Repeat Password: <tr><input type="password" name="re_password"/><br><p>
	        Phone Number: <input type="textfield" name="phone"/><br><p>
	        E-mail: <input type="textfield" name="comp_email"/><br><p>
	        <input type="submit" name="button" value="register"/>
	        <input type="submit" name="button" value="back to login"/>
	        
		</form>
    
	</div>
</body>
</html>
